.BotParametersContainer{
    grid-column: span 2;
    text-align: center;
}
.BotParametersContainer > label{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.BotParametersContainer > textarea{
    width: 50%;
    height: 5em;
    margin-bottom: 30px;
}