.vines{
  width: 80%;
}
#rightVine{
  justify-self: end;
}
#imageContainer{
  pointer-events: none;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20vw;
  position: absolute;
  z-index: 3;
}