/*SECTION - Widget Icon design and functionality*/
.widget-Icon{
    font-size: 36px;
    border-radius: 50%;
    height: 36px;
    padding: 15px;
    transition: box-shadow .2s ease;
    cursor: pointer;
    /* pointer-events: none; */
    text-align: center;
}
.neutral-widget-icon{
    background-color: white;
    width: 38px;
    padding: 16px 20px 16px 13px;
}
.neutral-widget-icon:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Apply the glowing effect on hover */
}
.closing-widget-icon{
    /* background-color: #e93d3d; */
    /*FIXME - This is the Widget X button Color  */
    color: white;
    width: 36px;
    line-height: 32px;
}
.closing-widget-icon:hover{
    box-shadow: 0 0 10px rgb(87, 87, 87); /* Apply the glowing effect on hover */
}
#neutral-widget-icon-div::selection{
    transform: rotate(180deg) translateY(11px);
}
#closing-widget-icon-div::selection{
    transform: rotate(-180deg) translateY(-19px);
}
#closing-widget-icon-div, #neutral-widget-icon-div{
    transition: all 0.2s ease-in-out 0s;
    /* cursor: pointer; */
    justify-self: center;
}
#closing-widget-icon-div{
    padding-top: 20px;
}

#chat-widget {
    margin-left: auto;
    margin-right: auto;
    grid-column: span 2;
    display: grid;
    grid-template-rows: 6fr 1fr;
    grid-template-columns: 1fr;
    width: 100%;
}


/*SECTION - Header elements (img, entry text, and header color)*/
#chat-header {
    padding: 10px;
    /* background-color: #f2f2f2; */
    /*FIXME - This is the header Color  */
    border-bottom: 2px solid #ccc;
    display: flex;
    border-radius: 8px 8px 0px 0px;
}
.img-trim{
    position: absolute;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    bottom: 93%;
    border: 4px solid;
    background-color: white;
    /*FIXME - This is the PFP outline Color "border-color" */
}
#widget-profile{
    /* height: 100%;
    width: fit-content; */
    /*FIXME - FIX the values in the top to fit the new profile PIC */
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

}
#chat-header h2 {
    margin: 0;
    font-size: 16px;
    color: #333;
    margin-left: 80px;
    margin: 8px 8px 8px 65px;
}

/*SECTION - Chat design */
#widget-open-icon{
    border: transparent;
    justify-self: center;
    margin-right: 260px;
    max-height: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 12% 88%;
    grid-template-columns: 1fr;
    padding: 0; 
    transition: all 300ms ease 0s;
    position: relative; /*FIXME - FIX THIS LATER TO MAKE POSITION IN THE RIGHT BOTTOM CORNER */
    width: 320px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
}
#chat-body {
    height: 100%;
    display: grid;
    grid-template-rows: 87% 13%;
    overflow-x: hidden;
}

#chat-input {
    padding: 10px 0px;
    /* background-color: #f2f2f2; */
    /*FIXME - This is the Footer Color  */
    border-top: 1px solid #ccc;
    align-self: end;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 0px 0px 8px 8px;
}

#chat-input input[type="text"] {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#chat-input button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    /* background-color: #4CAF50; */
    /*FIXME - This is the Submit Button Color  */
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

#chat-messages {
    height: 390px;
    width: 100%;
    max-height: 390px;
    overflow-y: scroll;
    
    /* background-color:    ; */
    /*FIXME - This is the Widget Bg Color  */
}
.VA-Text-Bubble, .User-Text-Bubble{
    font-size: .8em;
}

.chat-message {
    margin-bottom: 10px;
}

.user-message {
    background-color: #e2f3f5;
    padding: 5px 10px;
    border-radius: 3px;
}

.assistant-message {
    background-color: #d3d3d3;
    padding: 5px 10px;
    border-radius: 3px;
}

/*SECTION - Chat Design  */
.User-Text-Bubble{
    margin-right: 10px;
    /*  */
    animation: .2s ease 0.2s 1 normal forwards running innerBubbleGrow;
    transform-origin: right bottom;
    transform: scale(0);
}
.User-Text-Bubble-Div{
    margin: 10px;
    width: fit-content;
    max-width: 75%;
    margin-left: auto;
    padding-left: 10px;
    position: relative;
    display: flex;
    justify-content: end;
    /* background-color: lightblue; */
    /*FIXME - This is the User Text Bubble Bg Color  */
    border-radius: 10px 10px 0px 10px;
    animation: 0.2s ease 0.2s 1 normal forwards running innerBubbleGrow;
    transform-origin: right bottom;
    transform: scale(0);
    text-align: start;
}
.VA-Text-Bubble{
    margin-left: 10px;
    margin-right: 10px;
    text-align: start;
    animation: 0.2s ease 0.2s 1 normal forwards running innerBubbleGrow;
    transform-origin: right bottom;
    transform: scale(0);
}
.VA-Text-Bubble-Div{
    margin: 10px;
    width: fit-content;
    max-width: 75%;
    position: relative;
    display: flex;
    margin-right: 20%;
    justify-content: start;
    /* background-color: lightblue; */
    /*FIXME - This is the User Text Bubble Bg Color  */
    border-radius: 10px 10px 10px 0px;
    animation: 0.2s ease 0.2s 1 normal forwards running innerBubbleGrow;
    transform-origin: right bottom;
    transform: scale(0);
}

#chat-input > *{
    height: 40px;
}
@keyframes innerBubbleGrow{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1.0);
    }
}